body{
    background-color: lightyellow;
}

fieldset.f_set{
    background-color: lightgray;
    alignment-adjust: centerline;
    border-radius: 10px;
}

fieldset.form{
    background-color: lightgray;
    alignment-adjust: centerline;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    
}

#overview{
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    width: 100%;
}

.startbutton{
	width: 15px;
	height: 15px;
}

table.formtable td {

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

table.formtable {
	
	padding-right: 0px;
	padding-left: 25px;
}

table.formtable tr {

	background-color: transparent;
}

.textfeld {
	width: 120%;
}

th{
	background-color: grey;
	text-align: left;
	color: white;
}

div.buttons{
	margin: 5px;
}

.formbutton{
	
	background-color: orange;
	padding: 10px;
	margin: 2px;
}

.plz{
	width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

tr:nth-child(odd){
    background-color: lightblue;
}

tr:nth-child(even){
    background-color: white;
}



