.tableSpan{
    float:left;
    width:120px;
}

.loginButtons{

    margin-left:40px;
    margin-top:10px;
}

a{
    color:#384455;
}

.nav-tabs>li>a {
    background-color: #0f8df9;
    color:white;
}

.table>tbody>tr>td{
    padding:4px 8px 4px 8px;
    border-top: 0px solid #ddd;
}

body{
    background-color:#f7e3e3;
}

.edit-form-div{
    margin-top:10px;
}

.tab-heading{
    padding-top: 15px;
}

.container-for-tabs{
    background-color: black;
    padding-bottom: 15px;
    border-radius: 5px
}

.nav-tabs{
    position:relative;
    top:20px;
}

.tab-content{
    background-color: white;
    padding-left: 15px;
    padding-bottom: 15px;
}

.span-data{
    position:absolute;
    margin-left:50px;
}

.button-page{
    margin-top: 5px;
}

.error-message{
    margin-top:5px;
    color:red;
}